<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
  </system.web>
  <connectionStrings>
    <add name="LocalhostDatabase" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Fred\labs\Labs.DataAccess\Labs.DataAccess.Web\App_Data\Database.mdf;Integrated Security=True;User Instance=True" />
    <add name="EntityFrameworkDbContext" connectionString="metadata=res://*/Code.EntityFramework.EntityFrameworkModel.csdl|res://*/Code.EntityFramework.EntityFrameworkModel.ssdl|res://*/Code.EntityFramework.EntityFrameworkModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;attachdbfilename=|DataDirectory|\Database.mdf;integrated security=True;user instance=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>